<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>SQLESEMPIO</display-name>

	<servlet>
		<servlet-name>query</servlet-name>
		<servlet-class>it.objectmethod.jbdc.servlet.ContinentiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>query</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>nazioni</servlet-name>
		<servlet-class>it.objectmethod.jbdc.servlet.NazioniServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nazioni</servlet-name>
		<url-pattern>/secondo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>citta</servlet-name>
		<servlet-class>it.objectmethod.jbdc.servlet.CittaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>citta</servlet-name>
		<url-pattern>/terzo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>eliminacitta</servlet-name>
		<servlet-class>it.objectmethod.jbdc.servlet.EliminaCittaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eliminacitta</servlet-name>
		<url-pattern>/eliminacitta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cerca</servlet-name>
		<servlet-class>it.objectmethod.jbdc.servlet.RicercaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cerca</servlet-name>
		<url-pattern>/ricerca</url-pattern>
	</servlet-mapping>



</web-app>